@{
    ViewBag.Title = "Index";
}

<header class="accentHeader pageHeader">
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
<article id="mainContentFullWidth">
    <h1>Students</h1>
    <div id="students"></div>
</article>
<script>
    var uri = 'https://localhost:44387/api/student';

    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (data) {
                $.each(data, function (key, item) {
                    $('<p>', { text: item.Name }).appendTo($('#students'));
                });
            });
    });
</script>