@{
    ViewBag.Title = "Programs";
}
<header class="accentHeader pageHeader">
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
<article id="mainContent">
    <h1>Academic Programs</h1>
    <p>At Roux, students work in specially designed studios, within a community of practicing artists and designers, where discussions between students in different years and in different subjects are promoted and encouraged. They have access to well-equipped workshops across the school and are supported by technicians and instructors highly skilled in their craft and its processes. Students practice inquiry-based learning, informed by well-developed theoretical and historical positions. We expect our students to display self-motivation and autonomy, which form the basis for originality and risk taking. We promote the absence of boundaries, as the basis for real innovation.</p>
    <h2>Academic Departments</h2>
    <p>Roux is comprised of eleven departments, from 3D Graphic Design to Video and Filmmaking. A sample of our departments and their unique focuses are summarized below. Please contact the department chair(s) for more information.</p>
    <h3>Animation</h3>
    <p>
        Department chair: <strong>Gerard Montague</strong><br>
        The Animation department gives students a chance to blend the old with the new, to create unique and entertaining animated stories. From the decades old art of flipbooks, to stop motion animation and animatronics, to digital animation – students in the Animation department are provided the depth and breadth needed to succeed in today&rsquo;s wildly competitive field of animation.
    </p>
    <h3>Fashion and Textile Design</h3>
    <p>
        Department chair: <strong>Lulu DeChamp</strong><br>
        In the Fashion + Textile Design, designers focus initially basic construction techniques and trends and technologies in the fashion industry. The last half of instruction covers the completion of a complete ready-to-wear line.
    </p>
    <h3>Fine Art and Visual Culture</h3>
    <p>
        Department chair: <strong>Eliza Brethon</strong><br>
        The Fine Art program is rooted in a strong foundation in drawing and visual composition. Students spend the first year drawing the figure, surveying and depicting landscapes, and experimenting with a variety of media such as acrylic, pastel, and oil. In the second and third years, they create a portfolio of work that culminates in a gallery exhibit at Roux North.
    </p>
    <h3>Graphic Design</h3>
    <p>
        Department chair: <strong>Henri Lee</strong><br>
        This department specializes in product design, illustration, graphics, and marketing, with emphasis on approach and positioning. In year one and year two, students are equipped with the core ideas and skills necessary for a career in graphic design, and choose an elective module where they can employ, extend, and challenge those ideas and skills. Students study alongside working artists and designers on thesis-based projects.
    </p>
    <h3>Photography</h3>
    <p>
        Department chair: <strong>Max Banks</strong><br>
        The Photography program is designed to teach students basic photographic skills and help them develop a creative style and visual problem-solving skills while engaging in specialized market areas and techniques.
    </p>
    <p>&nbsp;</p>
</article>
<aside>
    <section class="academic info">
        <h2>Academic Links</h2>
        <ul>
            <li><a href="#" title="undergraduate degrees">Undergraduate Degrees</a></li>
            <li><a href="#" title="Graduate Degrees">Graduate Degree Programs</a></li>
            <li><a href="#" title="Continuing education">Continuing Education</a></li>
            <li><a href="#" title="Faculty">Faculty Profiles</a></li>
            <li><a href="#" title="Application requirements">Application Requirements</a></li>
            <li><a href="#" title="Study abroad programs">Study Abroad Programs</a></li>
            <li><a href="#" title="Internship programs">Internship Programs</a></li>
            <li><a href="#" title="Academic calendar">Academic Calendar</a></li>
        </ul>
    </section>
    <section class="connect info">
        <h2>Connect with us</h2>
        <ul>
            <li><a href="http://www.twitter.com/rouxacademy" title="Follow us!" target="_blank" class="twitter">Twitter</a></li>
            <li><a href="https://plus.google.com/" title="Google Plus" target="_blank" class="google">Google Plus</a></li>
            <li><a href="http://facebook.com" title="Be our friend" target="_blank" class="facebook">Facebook</a></li>
            <li><a href="http://www.linkedin.com" title="Let's connect" target="_blank" class="linked">LinkedIn</a></li>
        </ul>
    </section>
    <section class="find info">
        <h2>Find out more</h2>
        <ul>
            <li><a href="#" title="Take a campus tour">Take a campus tour</a></li>
            <li><a href="#" title="course catalog">Download a course catalog</a></li>
            <li><a href="#" title="Apply now">Apply now</a></li>
        </ul>
    </section>
    <section class="show info">
        <h2>Current Show</h2>
        <img src="~/Content/images/show1.jpg" width="285" height="230" alt="Current show">
        <p>Join us on May 11th for the opening reception of Ceramic Currency, an annual show presented by graduates from the Craft and Design program. Come see an exhibition of contemporary pottery and ceramic sculpture by over 30 artists. <a href="#" title="current show" class="more">more info</a></p>
    </section>
</aside>
