<h1>Roux Academy of Art and Design<a href="@Url.Action("Index", "Home")" title="home"></a></h1>
    <nav id="pageNav" class="cf">
        <ul>
            <li><a href="@Url.Action("Programs", "Home")" title="programs">Programs</a></li>
            <li><a href="#" title="admissions">Admissions</a></li>
            <li><a href="#" title="student portal">Student Portal</a></li>
            <li><a href="#" title="campus portal">Campus</a></li>
            <li><a href="#" title="alumni">Alumni</a></li>
            <li><a href="@Url.Action("About", "Home")" title="about Roux Academy">About</a></li>
        </ul>
    </nav>
