<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Roux Academy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="../_scripts/respond.min.js"></script>
    <![endif]-->
    <!-- BeginOAWidget_Shared_2187524 -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!-- EndOAWidget_Shared_2187524 -->
    <script type="text/xml">
        <!--
        <oa:widgets>
          <oa:widget wid="2187524" binding="#mapCanvas" />
        </oa:widgets>
        -->
    </script>
</head>
<body>
    @RenderBody()
    <footer id="pageFooter" class="cf">
        <nav class="footerNav">
            <section class="col">
                <h3>About Roux Academy</h3>
                <div class="col1">
                    <ul>
                        <li><a href="#" title="Our mission">Mission Statement</a></li>
                        <li><a href="#" title="school history">School History</a></li>
                        <li><a href="#" title="accreditation and affliates">Accreditation &amp; Affiliates</a></li>
                        <li><a href="#" title="board members">Board Members</a></li>
                    </ul>
                </div>
                <div class="col2">
                    <ul>
                        <li><a href="#" title="faculty and staff">Faculty &amp; Staff</a></li>
                        <li><a href="#" title="visiting professors">Visiting Professors</a></li>
                        <li><a href="#" title="Maribielle Roux Museum">Marbielle Roux Museum</a></li>
                        <li><a href="#" title="directions">Map &amp; Directions</a></li>
                    </ul>
                </div>
            </section>
            <section class="col">
                <h3>Admissions &amp; Programs</h3>
                <div class="col1">
                    <ul>
                        <li><a href="#" title="Degree programs">Degree Programs</a></li>
                        <li><a href="#" title="course catalog">Course Catalog</a></li>
                        <li><a href="#" title="fine art programs">Fine Art Programs</a></li>
                        <li><a href="#" title="design concentration">Design Concentration</a></li>
                    </ul>
                </div>
                <div class="col2">
                    <ul>
                        <li><a href="#" title="fashion program">Fashion Program</a></li>
                        <li><a href="#" title="product design">Product Design</a></li>
                        <li><a href="#" title="Continuing Education">Continuing Education</a></li>
                        <li><a href="#" title="tuition and financial aid">Tuition &amp; Financial Aid</a></li>
                    </ul>
                </div>
            </section>
            <section class="col">
                <h3>Student Resources</h3>
                <div class="col1">
                    <ul>
                        <li><a href="#" title="Campus information">Campus Information</a></li>
                        <li><a href="#" title="student housing">Student Housing</a></li>
                        <li><a href="#" title="transcript request">Transcript Request</a></li>
                        <li><a href="#" title="application process">Application Process</a></li>
                    </ul>
                </div>
                <div class="col2">
                    <ul>
                        <li><a href="#" title="portfolio review">Portfolio Review</a></li>
                        <li><a href="#" title="career counselling">Career Counselling</a></li>
                        <li><a href="#" title="internship programs">Internship Programs</a></li>
                        <li><a href="#" title="student portal login">Student Portal Login</a></li>
                    </ul>
                </div>
            </section>
        </nav>
        <p>&copy;Copyright  Roux Academy of Art &amp; Design.  All rights reserved.<a href="#" title="privacy statement"> Privacy Statement</a> |<a href="#" title="legal terms"> Legal Terms and Conditions</a> |<a href="#" title="student outcomes and disclosures"> Student Outcomes/Disclosures</a></p>
    </footer>
</body>
</html>
